@import "./normalize.css";
@import "./reset.css";
/* :root -> 获取根元素html */

:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-backfround: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}
body{
  width:100%;
}